#format.view-child(ng-scrollbars)
  .row
    .col.col-lg-offset-0.col-lg-4.col-md-offset-0.col-md-6.col-sm-offset-0.col-sm-6.col-xs-offset-0.col-xs-6(ng-repeat="format in vm.formats track by $index")
      label(for="{{format.id}}",ng-class="{'selected2':vm.isSelected(format)}")
        .block
          img.inline-block(src="images/format/{{format.id}}.jpg")
        .block
          input.inline-block(
              name="format",
              type="radio",
              id="{{format.id}}",
              ng-disabled="format.disabled",
              value="{{format}}",
              ng-model="vm.format",
              ng-change="vm.formatSelected();"
            )
          .inline-block
            .block.small {{format.name}}
            .block.xs(ng-if="format.width!='auto'") {{format.width}}x{{format.height}}
    .clearfix
